/* File: css/styles.css */


body{
    font-family: 'PT Serif', sans-serif;
    font-size: 18px;
    color: #c93f78;
    line-height: 1.5;
    background: #fff3fc;
}

a{
    text-decoration: none;
    color: #c93f78;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*Navbar*/
.navbar {
    background: #fff3fc;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar ul {
    display: flex;
    gap: 10px;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.75s;
}

.navbar ul li a:hover{
    color: #c93f78;
}

/*Hero Section*/
.hero {
    margin-bottom: 50px;
}

/*Utility Classes*/
.container {
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Text CLasses */
.text-xxl {
    font-size: 2.6rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5;
}

.text-center {
    text-align: center;
}